.container {
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: black;
}
a:hover .new_image img {
    transform: scale(1.2);
}
a:hover .new_title {
    color: #5ec232;
}
.news_container {
    display: grid;
    padding: 0.5rem;
    margin: 0.5rem;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin: 0 auto;
    width: 95%;

}
.news {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    box-shadow: transparent 0 0 0 3px,rgba(0, 0, 0, 0.1) 0 6px 20px;
}
.new_image {
    width: 100%;

    height: 0;
    padding-top: 56.25%; 
    overflow: hidden;  
    position: relative;
    transition: transform 0.25s ease;
}
/* .new_image:hover img {
    transform: scale(1.2);
} */
.new_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    transition: transform 0.25s ease;  
}
.category_date {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin: 10px;
    color: #8b8b8b;
    font-size: 12px;
    margin-top: 20px;
}
.category {
    color: #5ec232;
    font-weight: bold;
    margin-right: 5px;

}
.date_post {
    margin-left: 5px;
}
.block_text {
    display: flex;
    align-items: center;
}
.new_title {
    margin: 10px;
    font-weight: bold;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    height: 50px;
    
}
.new_description {
    margin: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    height: 40px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}
.down_content {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}
